body{
  font-family: 'Poppins', sans-serif;
  color: #252525;
}

#navbar{
  color: #252525;
  font-weight: bolder;
}

.carousel-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 40px;
}