{% extends 'base.html' %}
{% block content %}

<!--chat-->
<div class="row">
    
    <div class="col-3"></div>
    <div class="col-6">
        <div class="container mt-3">
            <div class="card">
                <div class="card-header"><h4>Chat Name (e.g Paris)</h4></div>
                <div class="card-body" style="height: 500px; overflow: auto;">
                    messages here
                </div>
                <div class="card-footer">
                    <form class="form-inline justify-content-end rounded-pill" action="#">
                        <div class="form-group">
                            <input type="text" class="form-control mr-2 rounded-pill" placeholder="type message here" name="text">
                            <button class="btn btn-outline-secondary rounded-pill" type="submit" id="text">send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
    
{% endblock %}