{% extends 'base.html' %}
{% block content %}
    
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="container mt-3">
            <div class="card">
                <div class="card-header location-div row">
                    <div id="chat-title" class ="col-8" style="color: red; font-size: x-large; font-weight: bold;"></div>
                    <div id="location-container" class="col-8">
                        <form id="location-form" class="form-inline justify-content-start rounded-pill" onsubmit="sendMessage(event)">
                            <div class="form-group">
                                <input id="location-input" type="text" class="form-control mr-2 rounded-pill" placeholder="Enter a location..." name="text" autocomplete="off" autofocus>
                                <button id ="loc-button" class="btn btn-outline-secondary rounded-pill" type="location-submit" id="text">Choose</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-4 form-inline justify-content-end">
                        <button type="button" class="btn btn-primary" onclick="window.location.href='/history';">Back</button>
                    </div>
                </div>
                <div class="card-body" style="height: 500px; overflow: auto;">
                    <div id="chat-log"></div>
                </div>
                <div class="card-footer message-div" id="chat-container">
                    <form id="chat-form" class="form-inline justify-content-end rounded-pill" onsubmit="sendMessage(event)">
                        <div class="form-group">
                            <input id="chat-input" type="text" class="form-control mr-2 rounded-pill" placeholder="Type a message..." name="text" autocomplete="off" autofocus>
                            <button class="btn btn-outline-secondary rounded-pill" type="submit" id="text">send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}