<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- chat.js -->
    <script src="../static/js/chat.js" defer></script>
    <!-- style.css -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css', _external=True) }}">



    <title>TravelBot</title>

    <style>
        .location-div {
          /* display: block; */
        }
      
        .message-div {
          display: none;
        }

        .btn-radius {
            border-radius: 100px !important;
        }
        .btn {
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 1px;
            border-radius: 2px;
            padding: 13px 28px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
            text-transform: uppercase;
            box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
        }
        .btn-sm {
            font-size: 11px;
            font-weight: 600;
            padding: 11px 25px;	
        }
        .btn-lg {
            padding: 18px 49px;
        }
        .btn-xs {
            font-size: 10px;
            padding: 8px 14px;
        }

        .btn-primary {
            background: #5a7ce2;
            background: -moz-linear-gradient(-45deg, #5a7ce2 0%, #8283e8 50%, #5c5de8 51%, #565bd8 71%, #575cdb 100%);
            background: -webkit-linear-gradient(-45deg, #5a7ce2 0%,#8283e8 50%,#5c5de8 51%,#565bd8 71%,#575cdb 100%);
            background: linear-gradient(135deg, #5a7ce2 0%,#8283e8 50%,#5c5de8 51%,#565bd8 71%,#575cdb 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a7ce2', endColorstr='#575cdb',GradientType=1 );
            background-size: 400% 400%;
            border: medium none;
}
      </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col-4"></div>
        <h1 class="col-4 text-center">Travel<span class="material-symbols-outlined">connecting_airports</span>Bot</h1>
        <div class="col-4 text-right">Hi <span id="username">{{name}}</span></div>
    </nav>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="container mt-3">
                <div class="card">
                    <div class="card-header location-div row" style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
                        <div id="chat-title" class ="col-8" style="font-size: x-large; font-weight: bold; align-items: center; padding-left: 20px; padding-top: 5px; padding-bottom: 5px;"></div>
                        <div id="location-container" class="col-8">
                            <form id="location-form" class="form-inline justify-content-start rounded-pill" onsubmit="sendMessage(event)">
                                <div class="form-group">
                                    <input id="location-input" type="text" class="form-control mr-2 rounded-pill" style="height: 45px; margin-right: 5px;" placeholder="Enter a location..." name="text" autocomplete="off" autofocus>
                                    <button id ="loc-button" class="btn btn-primary btn-radius" type="location-submit" id="text">Choose</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-4 form-inline justify-content-end" style="">
                            <button type="button" class="btn btn-primary btn-radius" onclick="window.location.href='/history';">Back</button>
                        </div>
                    </div>
                    <div class="card-body" style="height: 500px; overflow: auto;">
                        <div id="chat-log"></div>
                    </div>
                    <div class="card-footer message-div" id="chat-container">
                        <form id="chat-form" class="form-inline justify-content-end rounded-pill" style="" onsubmit="sendMessage(event)">
                            <div class="form-group">
                                <input id="chat-input" type="text" class="form-control mr-2 rounded-pill" style="width: 530px; height: 45px" placeholder="Type a message..." name="text" autocomplete="off" autofocus>
                                <button class="btn btn-primary btn-radius" type="submit" id="text">send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

  
    <!-- <div id="location-container" class="location-div">
        <form id="location-form" onsubmit="sendMessage(event)">
            <input id="location-input" type="text" placeholder="Enter a location..." autocomplete="off" autofocus>
            <button id="loc-button" type="location-submit">Send</button>
        </form>
    </div> -->

    <!-- <div id="chat-container" class="message-div">
        
        <form id="chat-form" onsubmit="sendMessage(event)">
            <input id="chat-input" type="text" placeholder="Type a message..." autocomplete="off" autofocus>
            <button type="submit">Send</button>
        </form>
    </div> -->

    <!-- <script>
        const chatForm = document.getElementById('chat-form');
        const chatInput = document.getElementById('chat-input');
        const locationInput = document.getElementById('location-input');

        const chatLog = document.getElementById('chat-log');
        const chatTitle = document.getElementById('chat-title');

        var locButton = document.getElementById("loc-button");
        var locCon = document.getElementById("location-container");
        var chatCon = document.getElementById("chat-container");

        var username = document.getElementById("username").textContent;

        locButton.addEventListener("click", function() {
            var loc = locationInput.value.trim()
            setTitle(loc);
        });

        locloc = false;


        //chatForm.addEventListener('submit', sendMessage);
        chatForm.addEventListener('location-submit', locationLocked);

        console.log(window.location.pathname);
        path = window.location.pathname;

        pathElements = path.split('/');
        if (pathElements.length == 3) {
            console.log('hi')
            getMessages(pathElements[2]);
        }

        function sendMessage(event) {
            console.log('hi');
            event.preventDefault();
            const message = chatInput.value.trim();
            console.log(message);
            const location = locationInput.value.trim();
            console.log(location);
            if (message === '' || location === '') return;
            console.log('hey3');

            //setTitle(location);
            appendMessage(username, message);
            console.log('hey');

            fetch('/get_response', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `message=${encodeURIComponent(message)}&location=${encodeURIComponent(location)}`
            })
            .then(response => response.text())
            .then(reply => {
                appendMessage('TravelBot', reply);
                chatInput.value = '';
            });
        }

        function getMessages(id) {
            console.log('hi1')
            fetch('/get_messages/' + id, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
            .then(response => response.text())
            .then(reply => {
                console.log('hi2');
                console.log(reply);
                x = JSON.parse(reply);
                title = x[0];
                msgs = x[1];

                setTitle(title);
                locationInput.value = title;
                json = JSON.parse(msgs);
                for (let i = 0; i < json.messages.length; i ++) {
                    appendMessage(json.messages[i].author, json.messages[i].message);
                }
                //appendMessage('TravelBot', reply);
            });

        }

        function locationLocked(event) {
            locloc = true;
        }

        function appendMessage(sender, message) {
            const messageElement = document.createElement('div');
            messageElement.innerHTML = `<strong>${sender}: </strong>${message}`;
            chatLog.appendChild(messageElement);
        }

        function setTitle(title) {
            const titleElement = document.createElement('div');
            titleElement.innerHTML = `<strong>${title}</strong>`;
            chatTitle.appendChild(titleElement);
            locCon.style.display = "none";
            chatCon.style.display = "block";
        }
    </script> -->
</body>
</html>