{% extends 'base.html' %}
{% block content %}

    <!-- new chat + history -->
    <div class="container">
        <div class="card rounded-pill" id="new-chat">
            <a href="#" class="card-link"><h5 class="card-title">+ New Chat</h5></a>
        </div>
    </div>
    <div class="container">
        <div class="card rounded-pill">
            <a href="#" class="card-link"><h5 class="card-title">Go To: Paris</h5></a>
        </div>
    </div>
    <div class="container">
        <div class="card rounded-pill">
            <a href="#" class="card-link"><h5 class="card-title">Go To: London</h5></a>
        </div>
    </div>
    <div class="container">
        <div class="card rounded-pill">
            <a href="#" class="card-link"><h5 class="card-title">Go To: Singapore</h5></a>
        </div>
    </div>

{% endblock %}